*, *::before, *::after {
  box-sizing: border-box;
}
/* new nav starts here */

header {
  background: #fff;
  text-align:center;
  position:fixed;
  padding:0px 100px 0px 100px;
  top:0;
  z-index:999;
  width:100%;
}

p {
  width:60%;
  margin:auto;
  background-color: #f0f0f0;
  padding:10px;
}

.grid3 {
  display:flex;
  font-size:.9em;
  justify-content: space-between;
  margin-bottom:1rem;
}

.hero {
  width:100vw;
  height:100%;
  background-color:#fff;
  position:relative;
  left:50%;
  right:50%;
  margin-left:-50vw;
  margin-right:-50vw;
}

.bg1 {
  background-image:url('../images/archivebg.png');
  background-repeat:repeat;
  background-position: center;
  background-size:contain;
  padding:50px 0px 50px 0px;
}

.bg2 {
  background-image:url('../images/cauldronbg.png');
  background-repeat:repeat;
  background-position: center;
  background-size:contain;
  padding-bottom:25px;
  padding:50px 0px 50px 0px;
}

.col {
  flex: 1;
}

.col2 {
  flex:1.1;
}

hr {
  border:1px solid #f0f0f0;
  width: 50%;
}

img {
  width:100%;
}

nav {
  position: absolute;
  text-align:left;
  top:100%;
  left:0;
  background: #fff;
  z-index:2000;
  width:100%;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  margin-top:0px;
  list-style:none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #151515;
  text-decoration: none;
  font-size: 1.25rem;
  text-transform:;
  font-weight:500;
  opacity:0;
  transition: opacity 150ms ease-in-out;
}

nav a:visited, nav a:active {
  color: #D1D5EE;
}

nav a:hover {
  color: #5367CE;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity:1;
  transition: opacity 200ms ease-in-out 200ms;
}

.nav-toggle:checked ~ .nav-toggle-label-off {
  display:block;
}

.researchimages li, .researchimages2 li {
  list-style-type: none;
  font-weight:500;
}

.Archive {
  padding-top:50px;
}

#aboutme {
  padding-top:100px;
}

.nav-toggle {
  z-index:1000;
  display:none;
}

.nav-toggle-label-off {
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  display: none;
  z-index:1;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left:0;
  margin-left:1em;
  height:100%;
  display:flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before, .nav-toggle-label span::after {
  display:block;
  background:#000;
  height:2px;
  width:2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before, .nav-toggle-label span::after {
  content:'';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

/* new nav ends here */

body {
  font-family:'Be Vietnam', sans-serif;
  line-height:2rem;
  font-size:16px;
  color: #151515;
}

::selection {
  background: #D1D5EE85;
}

.intro {
  line-height:3rem;
  font-size:2.5rem;
  font-weight:600;
}

.container {
    margin: 50px 200px 0px 200px;
    background-color:#fff;
}

.overall {
  border-right: 1px solid #f0f0f0;
  padding-right:5px;
}

.intro b {
  color: #172EA8;
}

h1 {
  font-weight:600;
  font-size:2rem;
  font-family: 'Be Vietnam';
  margin-bottom:2rem;
  color: #151515;
}

h2 {
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing:1px;
  margin-bottom:15px;
  color: #172EA8;
}

.hero h1 {
  font-size: 3em;
}

.UIimage{
  width:75%;
  margin:auto;
  margin-top:100px;
}

.lockfulcolors {
  margin:50px 0px 0px 0px;
}

.ContactLinks {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width:30%;
  margin:auto;
  margin-top:50px;
}

.swot {
  display:grid;
  grid-template-columns:1fr 1fr;
  margin-top:15px;
  margin-bottom:100px;
  grid-column-gap:50px;
}

.about {
  width:75%;
  margin:auto;
  margin-top:100px;
}

.title {
  text-align:center;
  font-weight:500;
  padding:5px 0px 5px 0px;
  border-bottom:1px solid #D1D5EE;
}

.actionemail {
  color: #151515;
}

.actionemail {
  border-bottom:1px solid #172EA8;
}

i, em {
  font-style: italic;
}

.blue {
  background-color: #3CA1FF;
}

.D9EAFA {
  background-color: #D9EAFA;
}

.DA4516 {
  background-color: #DA4516;
  color: #fff;
}

.green {
  background-color: #42BB09;
}

#aboutme h1 {
  margin:0;
}

.Cauldron h1, .Archive h1, #aboutme h1 {
  color: #151515;
}

#work {
  display:grid;
  grid-template-columns: 1fr;
  padding-top:50px;
  margin:auto;
  grid-gap:100px;
  color:#151515;
}

.Cauldron img, .Archive img {
  margin:auto!important;
}

#aboutme img {
  width:100%;
}

.personatype {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:100px;
}

#aboutme {
  display:grid;
  grid-template-columns: .75fr 2fr;
  padding-top:100px;
  grid-gap:50px;
}

ul {
  list-style-type:circle;
  padding-left:30px;
}

.maingrid {
  display:grid;
  grid-template-columns: 1fr;
  grid-gap:100px;
}

.caption.tacky {
  font-size:.9rem;
  grid-column: 1 / span 2;
  grid-row-start:2;
}

.caption.smallfont {
  font-size:.9rem;
  grid-column: 3 / span 2;
  grid-row-start:2;
}

.caption.smallphoto {
  font-size:.9rem;
  grid-column: 5 / span 2;
  grid-row-start:2;
}

.logos, .colors {
  padding-right:50px;
}

#contact {
  margin-top:100px;
  background-color: #172EA820;
  padding:100px 0px 100px 0px;
  text-align:center;
}

 .LinkedIn, .Email, .Twitter {
   font-size:16px;
 }

.name {
  font-size:2.5rem;
  font-weight: 500;
  text-transform:;
  letter-spacing:0px;
  margin-bottom:0;
}

.thename h1 {
  margin:25px 0px 25px 0px;
}

.thename2 h1 {
  margin:100px 0px 25px 0px;
}

.thename2 {
  width:500px;
  margin:auto;
}

.main {
  margin-top:25px;
}

.averagecook h2, .partyhost h2 {
  margin-bottom:10px;
}

.conclusion, .personatypes, .nextproject, .usabilitytesting, .hifi, .maingrid, .research, .userflow, .competitiveanalysis, .personas, .sketches, .stories, .branding {
  margin-top: 100px;
}

.iteration1, .iteration2, .iteration3 {
  margin-top:25px;
}

.conclusion {
  margin-bottom:50px;
}

.marginfix {
  margin-top:15px;
}

.spacer {
  margin-bottom:2rem;
}

.conclusionbox {
  display:grid;
  grid-template-columns: 1fr;
  grid-gap:0px;
}

.usabilityupdates {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap:50px;
}

.usabilityupdates span {
  text-align:center;
  margin-top:25px;
}

.nextproject {
  text-align:center;
  font-size:2rem;
  font-weight:500;
}

.testingimages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap:20px;
}

.testingimages img, .testingimages2 img {
  border:1px solid #f0f0f0;
}

.testingimages2 img {
  padding:5px;
}

.testingimages2 {
  display:grid;
  grid-template-columns:1fr;
  text-align:center;
  width:75%;
  margin:auto;
  margin-bottom:50px;
}

.grouping {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  margin-bottom:50px;
}

.cap1, .cap2, .cap3, .cap4 {
  margin-top:15px;
}

.iterations {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
  margin:0px 10% 0px 10%;
}

.beforeafter {
  display:grid;
  grid-template-columns: 1fr 1fr;
  text-align:center;
  font-weight:500;
}

.iterations2 {
  display:grid;
  grid-template-columns: 1fr;
}

.iterations3 {
  display:grid;
  grid-template-columns:1fr;
  justify-content: center;
  width:65%;
  margin:auto;
}

.iterations img, .iterations2 img {
  border:1px solid #f0f0f0;
}

.caption {
  text-align:center;
  font-size:1.5rem;
  line-height:1.75em;
  font-weight:500;
  color: #5367CE;
  background-color: #172EA820;
  border-radius:20px;
  margin:25px 0px 25px 0px;
  padding:5px 5px 10px 5px;
}

.visuals, .visuals2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap:50px;
  grid-row-gap:100px;
}

.main h1 {
  margin-bottom:1.5rem;
}

.storyboard {
  display:block;
  width:60%;
  margin:auto;
}

a {
  text-decoration:none;
  color: #5367CE;
}

a:hover {
  color: #172EA8;
}

.researchimages img{
  width: 50%;
  height:auto;
  margin:auto;
}

.userstories {
  display:grid;
  grid-template-columns:1fr 2fr 1fr;
  grid-column-gap:50px;
}

.proto{
  background-color: #D1D5EE;
  padding:10px 30px 15px 30px;
  border-radius: 30px;
}

.desc {
  margin:5px 0px 5px 0px;
}

.sketchesimg {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap:5px;
}

.sketchesimg2 {
  display:grid;
  grid-template-columns: 1fr;
}

.sketchesimg img{
  width:100%;
}

.sketchesimg2 img {
  width:75%;
  margin:auto;
}

#work img, .sketches {
  width:100%;
}

.hero img {
  width: 50%!important;
}

.thename {
  margin:auto;
  font-weight:500;
  text-transform: ;
  margin-bottom:50px;
}

.thename img {
  width:75%!important;
}

.swotimages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin:50px 15% 50px 15%;
  grid-column-gap:100px;
}

.swotimages img {
  width:100%!important;
}

.averagecook {
  border-right:1px solid #f0f0f0;
  padding-right:50px;
}

footer {
  text-align:center;
  font-size:.75em;
  position: fixed;
  bottom:0;
  left:0;
  text-transform: ;
  width:100%;
  padding:2px 0px 2px 0px;
  background-color: #D1D5EE;
}

.btn {
  margin-top:25px!important;
  margin:auto;
  font-weight:500;
  font-size:1.25em;
  display:block;
  text-align:center;
}

.btnpartial {
  margin:auto;
  font-weight:500;
  font-size:1.25em;
  text-align:center;
}

.name{
  margin-top:20px;
  height:100%;
}

.name img {
  height:5rem;
  width:5rem;
}

.nameheader {
  text-align:center;
}

.Cauldron, .Archive, .Lockful {
  display:grid;
  grid-template-columns: 1.5fr 1fr;
  grid-column-gap:50px;
}

.cauldronsum h1, .archivesum h1, .bio h1{
  padding-bottom:15px;
}

.researchimages, .researchimages2 {
  display:flex;
  justify-content: space-between;
  align-content:center;
  margin-top:50px;
  text-align:center;
  margin-bottom:50px;
}

.researchimages {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin:auto;
  grid-column-gap: 50px;
}

.researchimages2 {
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin:auto;
  grid-column-gap: 50px;
}

.center {
  text-align:center;
}

.researchimages2 img {
  width:25%;
  margin:auto;
}

.logos2 img {
  display: flex;
  justify-content: space-around;
  margin:auto;
  max-width:30%;
}

.logos {
  grid-column-start:1;
  grid-row-start:1;
  grid-row-end:1;
  padding-right:5px;
}

.brandname, .fonts {
  grid-column-start:2;
}

.brandname {
  grid-row-start:1;
  grid-row-end:1;
}

.fonts {
  grid-row-start:2;
  grid-row-end:2;
}

.F7EBE8, .FFA987, .FFD4C3, .FF7B47, .grey, .green, .blue, .D9EAFA, .DA4516, .black {
  display:flex;
  justify-content: center;
  color:#000;
  font-weight:500;
  align-items:center;
  height:50px;
}

.blue, .D9EAFA, .DA4516, .F7EBE8, .FFA987, .FFD4C3, .FF7B47, .black {
  margin-bottom:5px;
}

.DA4516 {
  color: #fff;
}

.F7EBE8 {
  background-color: #F7EBE8;
}

.black {
  background-color: #000000;
  color: #fff;
}

.FFA987 {
  background-color: #FFA987;
}

.FFD4C3 {
  background-color: #FFD4C3;
}

.FF7B47 {
  background-color: #FF7B47;
}

.grey {
  background-color: #282828;
  color: #ffffff;
}

.colors2 {
  display:grid;
  grid-column-start: 1;
  grid-template-columns:1fr 1fr 1fr;
  grid-column-gap:5px;
}

.iPhoneAnalysis h2, .AnyList h2, .GroceryList h2, .competitiveanalysis h2 {
  margin-top:50px!important;
  text-align:center;
  margin-bottom:0;
}

u {
  text-decoration:none;
  border-bottom:1px solid #D1D5EE;
  color:#000;
  font-weight:500;
}

.competitiveanalysis {
  display:none;
}


.left {
  text-align:left!important;
}

.logos, .colors {
  border-right:1px solid #f0f0f0;
}

b, strong {
  font-weight:600;
}

@media screen and (max-width:860px) {
  .sketchesimg, .conclusionbox, .maingrid {
    grid-template-columns: 1fr;
    grid-row-gap:5px;
  }

  p {
    width:80%;
    margin:auto;
  }

  header {
    margin:0;
  }

  .storyboard {
    width:100%;
  }

  .UIimage, .about{
    width:90%;
    margin:auto;
    margin-top:100px;
  }

  hr {
    border:1px solid #f0f0f0;
    width: 100%;
  }

  .partyhost, .colors, .fonts, .logos {
    margin-top:25px;
  }

  .sketchesimg {
    padding:0px 20% 0px 20%;
  }

  .profilepic {
    margin:auto;
    width:50%;
  }

  .thename {
    width:90%;
  }

  .averagecook {
    border:none;
  }

  .ContactLinks {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width:50%;
    margin:auto;
    margin-top:50px;
  }

  .logoimages {
    width:50%!important;
  }

  #work h1 {
    margin-top:50px;
    text-align:center!important;
  }

  #aboutme h1 {
    text-align:center!important;
  }

  .abouttheproject, .overall {
    border:0;
  }

  .iterations {
    margin:0;
  }

  .hero h1 {
    margin-left:0;
    text-align:center!important;
  }

  #work img {
    width:100%;
  }

  .Cauldron img, .Archive img, .Lockful img {
    width:100%!important;
  }

  .container {
    margin: 100px 100px 0px 100px;
  }

  .hero h1 {
    text-align:center;
  }

  h1 {
    margin-bottom:25px;
  }

  h2 {
    margin-top:10px;
    margin-bottom:10px;
  }

  .conclusionbox, .maingrid {
    border:0;
  }

  .hero img {
    width:75%!important;
  }

  .projectinfo, .researchmethod {
    margin-top:25px;
  }

  .cap1 {
    grid-column-start: 1;
    grid-row-start:2;
    margin-bottom:15px;
  }

  .cap2 {
    grid-column-start: 2;
    grid-row-start:2;
    margin-bottom:15px;
  }

  .cap3 {
    grid-column-start: 3;
    grid-row-start:2;
    margin-bottom:15px;
  }

  .cap4 {
    grid-column-start: 2;
    grid-row-start:2;
    margin-bottom:15px;
  }

  .testingimages {
    grid-template-columns: 1fr 1fr;
    grid-gap:5px;
    width: 75%;
    margin:auto;
  }

  .caption.tacky {
    grid-column: 1 / span 2;
    grid-row-start:2;
    margin-bottom:15px;
  }

  .caption.smallfont {
    grid-column: 1 / span 2;
    grid-row-start:4;
    margin-bottom:15px;
  }

  .caption.smallphoto {
    grid-column: 1 / span 2;
    grid-row-start:6;
    margin-bottom:15px;
  }

  .swot {
    margin-top:15px;
  }

  .visuals2 {
    grid-template-columns: 1fr;
  }

  .visuals {
    display:block;
  }

  .visuals img {
    display:flex;
    justify-content: space-around;
    margin:auto;
  }

  .sketchesimg2 img{
    width:100%;
  }

  #contact {
    margin-top:50px;
  }

  #aboutme, .swot, .personatype, .Cauldron, .Archive, .Lockful {
    grid-template-columns: 1fr;
  }

  .personatype {
    grid-gap:50px;
  }

  #role, #roledesc {
    display:none;
  }

  #aboutme img{
    border-left:0px;
    margin:auto;
    width:100%;
  }

  .main h1 {
    text-align:left;
  }

  .projectinfo {
    margin-top:100px;
  }

  .swot, .swotimages, .personatypes, .userstories {
    grid-gap:10px;
  }

  .userstories {
    grid-template-columns:2fr 1fr;
  }

  .strengths {
    grid-row-start:2;
    grid-row-end:2;
  }

  .weaknesses {
    grid-row-start:4;
    grid-row-end:4;
  }

  .opportunities {
    grid-row-start:6;
    grid-row-end:6;
  }

  .sketchesimg {
    width:100%;
  }

  .threats {
    grid-row-start:8;
    grid-row-end:8;
  }
}

@media screen and (max-width:768px) {
  .intro {
    font-size:1.75rem;
  }
}

@media screen and (max-width:1100px) {
  .container {
    margin: 50px 100px 0px 100px;
  }

  .grid3 {
    display:block;
    font-size:1em;
    text-align:left;
    background-color: #f0f0f0;
    width:60%;
    margin:auto;
    padding:10px;
  }

  .intro {
    padding:0;
    padding:100px 0px 100px 0px;
  }
}

@media screen and (max-width:525px) {
  p {
    width:100%;
    margin:auto;
  }

  .grid3 {
    width:100%;
  }

  .name img {
    width:45px;
    height:45px;
  }

  header{
    padding:0px;
    padding:0px 16px 0px 16px;
  }

  .grid3, .beforeafter {
    display:block;
  }

   .container {
     margin:150px 16px 0px 16px;
   }

  .iterations {
    grid-template-columns: 1fr;
    grid-column-gap:5px;
  }

  .profilepic {
    width:90%;
  }

  .usabilityupdates {
    display:block;
  }

  .intro {
    font-size:1.75rem;
    line-height:2.5rem;
  }

  .usabilityupdates {
    grid-column-gap:5px;
  }

  h1 {
    font-size:2rem;
  }

  .ContactLinks {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width:75%;
    margin:auto;
    margin-top:50px;
  }

  .researchimages{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns:1fr;
    margin:auto;
    grid-row-gap: 25px;
    grid-column-gap:0px;
  }

  .researchimages2 {
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns:1fr;
    margin:auto;
    grid-column-gap:0px;
    grid-row-gap: 25px;
  }

  .researchimages img{
    width: 25%;
    height:auto;
    margin:auto;
  }

  .cap1 {
    margin-bottom:25px;
  }

  .cap2 {
    grid-column-start: 1;
    grid-row-start:4;
    margin-bottom:25px;
  }

  .cap3 {
    grid-column-start: 1;
    grid-row-start:4;
    margin-bottom:25px;
  }

  .cap4 {
    grid-column-start: 1;
    grid-row-start:6;
    margin-bottom:25px;
  }

  .cap1, .cap3, .cap4 {
    margin-top:0px;
  }

  .caption.tacky {
    font-size:1.15rem;
  }

  .caption.smallfont {
    font-size:1.15rem;
  }

  .caption.smallphoto {
    font-size:1.15rem;
  }

  .iteration1 {
    grid-row-start:2;
    grid-row-end: 2;
  }

  .iteration2 {
    grid-row-start:4;
    grid-row-end:4;
  }

  .iteration3 {
    grid-row-start:6;
    grid-row-end:6;
  }

  .iterations.caption div {
    display:none!important;
  }

  .sketchesimg, .sketchesimg2 {
    padding:0px 5px 0px 5px;
  }

  .testingimages {
    margin:0px 5px 0px 5px;
    width:100%;
  }

  .Archive {
    padding-top:25px;
  }

  #aboutme {
    padding-top:75px;
  }
}

/* new nav code pt 2*/

@media screen and (min-width:769px) {
  .nav-toggle-label {
    display:none;
  }

  .grid3 {
    display:block;
    font-size:1em;
    text-align:left;
    background-color: #f0f0f0;
    width:60%;
    margin:auto;
    padding:10px;
  }

  .caption {
    margin-top:50px;
  }

  header {
    text-align:left;
    margin:0;
    display: grid;
    position:sticky;
  }

  nav {
    all: unset;
    grid-column:3 / 7;
    display:flex;
    justify-content: flex-end;
    align-items:center;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    margin-top:20px;
  }

  nav li {
    margin-left: 3em;
  }

  nav a {
    opacity: 1;
    position:relative;
  }

  nav a::before {
    content: '';
    display:block;
    height: 5px;
    background: #D1D5EE;
    position: absolute;
    bottom: -.5em;
    left:0;
    right:0;
    transform: scale(0, 1);
    transform-origin:left;
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }

  .logoimages img {
    display: flex;
    width:50%;
    align-items: center;
  }

  .intro {
    margin-top:15%;
    }
  }

  @media screen and (max-width:768px) {
    .intro {
      padding:150px 0px 50px 0px;
    }
  }

  @media screen and (max-width:525px) {
    .intro {
      padding:75px 0px 75px 0px;
    }
  }

  @media screen and (min-width:1200px) {
    .intro {
      padding:50px 0px 50px 0px;
    }
  }

/* end new nav code pt 2*/
